body {
  margin:0;
  font-family:Georgia;
  background-color: white;
  overflow: hidden;
}

@font-face {
  font-family: "proxima";
  src: url(../fonts/proxima.ttf) format("opentype");
}

@media only screen and (min-width: 0px) and (max-width: 990px){
    .bar{
      width: 10vw;
      display: inline-block;
      height: 5%;
      background-color: black;
      margin-bottom: 4vh; 
      margin-left: 30px;
      position: relative;
      vertical-align: middle;
    }

    .arhnlogo{
     position: fixed;
    width: 39vw;
    height: auto;
    padding-top: 2vh;
    margin-left: 2vw;
    z-index: 5;
    }

    #main-title{
      position: absolute;
      right: 3vw;
      color: black;
      padding-top: 1vh;
      opacity: 0.5;
      font-family: proxima;
      font-size: 5rem;
    }

    #main-back{
      position: absolute;
      left: 3.1vw;
      bottom: 5vh;
      width: 14vw;
      height: auto;
      z-index: 5;
    }

    .zoomingdiv{
      position: absolute;
    bottom: 8vh;
    right: 3vw;
    height: auto;
    position: absolute;
    top: 86vh;
    right: 3vw;
    }

    .zooming img {
     width: 16vw;
    height: auto;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    }


    .zooming img:hover {
      width: 4.5vw;
      height: auto;
    }

}





@media only screen and (min-width: 1000px){
    .bar{
      width: 10vw;
      display: inline-block;
      height: 5%;
      background-color: black;
      margin-bottom: 7vh; 
      margin-left: 30px;
      position: relative;
      vertical-align: middle;
    }

    .arhnlogo{
      position: fixed;
      width: 20vw;
      height: auto;
      padding-top: 2vh;
      margin-left:2vw;
      z-index: 5;
    }

    #main-title{
     position: absolute;
    right: 3vw;
    color: black; 
    padding-top: 0vh;
    opacity: 0.5;
    font-family: proxima;
    font-size: 3rem;
   }
   #main-back{
      position: absolute;
      left: 3.1vw;
      bottom: 5vh;
      width: 3vw;
      height: auto;
      z-index: 5;
    }

    .zoomingdiv{
      height: auto;
      position: absolute;
      top: 89vh;
      right:3vw;
      }

    .zooming img {
      width: 4vw;
      height: auto;
      -webkit-transition: all .5s ease;
         -moz-transition: all .5s ease;
          -ms-transition: all .5s ease;
              transition: all .5s ease;
    }
    .zooming img:hover {
      width: 4.5vw;
      height: auto;
    }


}




.home {
  position: fixed;
  top: 2vh;
  width: auto;
  margin-left:2vw;
  z-index: 5;
  font-size: 3rem;
  text-decoration-color: 
}


#scroll-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: -34px;

}
#container .box {
  width:1000vw;
  height:100vh;
  display:inline-block;
  position:relative;
  
}
#container .box > div {
  width:100px;
  height:100px;
  font-size:96px;
  color:#FFF;
  position:absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -50px;
  line-height:.7;
  font-weight:bold;
}
#container {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:white;
  position:absolute;
  width:100vh;
  height:100vw;
  padding-right: 17px; /* Increase/decrease this value for cross-bfcloser compatibility */
}
#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
}


.one-box {
  background-color: #FFFFFF;
}

.row1{
  position: absolute;
  height: 15vh;
  width:auto;
  z-index: 1;
  top:20vh;
  font-family: proxima;
  /*-ms-transform: skewX(-20deg); */
  /*-webkit-transform: skewX(-20deg); */
  /*transform: skewX(-20deg); */
}

.row2{
  font-family: proxima;
  position: absolute;
  height: 15vh;
  width:auto;
  z-index: 1;
  top:40vh;
}

.row3{
  font-family: proxima;
  position: absolute;
  height: 15vh;
  width:auto;
  z-index: 1;
  top:60vh;
}

#row11{
  left: 0vw;
}

#row12{
  left:250vw;
}

#row13{
  left:500vw;
}


#row21{
  left:0px;
}

#row22{
  left:250vw;
}

#row23{
  left:500vw;
}


#row31{
  left:0px;
}

.events-text{
  font-family: proxima;
  font-size: 7rem;
  margin-left: 3vw;
}



/*--div pop up animation--*/










/* Translating the content's X ruines the scrollbar length. */
/*
#container {
  overflow:scroll;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(-90deg) translateX(-100vw);
  transform-origin: top left;
  white-space:nowrap;
}
*/